body { 
  background-color: black;
}

.bg-dark {
  background-color: transparent !important;
}

.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  line-height: 250%;
  background-color: black;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron .container {
  max-width: 40rem;
}

.jumbotron-heading {
  color: white;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: transparent;
}

footer p {
  margin-bottom: .25rem;
}