/* Global */
body { 
  background-color: black;
}
nav.bg-dark {
  background-color: transparent !important;
}

/* Jumbotron */
.jumbotron-transparent {
  background-color: transparent;
}

.line-height-250 {
  line-height: 250%;
}